# Data Consolidation

The purpose of this notebook is to improve the data provided in the original 'sprint_results.csv' and 'race_results.csv' datasets and consolidate the datasets that will be used for our analysis. Dataset 'drivers.csv' will be leveraged to include additional driver information for both identification and visualization purposes. Output expected are datasets 'sprint_cleaned.csv' and 'race_cleaned.csv', which will be leveraged to perform our analysis.

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

sprint_results = pd.read_csv(r'./F1_Data/sprint_results.csv')
race_results = pd.read_csv(r'./F1_Data/results.csv')
drivers = pd.read_csv(r'./F1_data/drivers.csv')

In [3]:
# Merge driver information with results for better readability
def add_driver_info(results_df, drivers_df):
    return pd.merge(
        results_df,
        drivers_df[['driverId', 'code', 'forename', 'surname']], 
        on='driverId',
        how='left'
    )

sprint_results_with_names = add_driver_info(sprint_results, drivers)
race_results_with_names = add_driver_info(race_results, drivers)

# Calculate position change for each race (negative is improvement)
sprint_results_with_names['position_change'] = sprint_results_with_names['positionOrder'].astype(int) - sprint_results_with_names['grid'].astype(int)
race_results_with_names['position_change'] = race_results_with_names['positionOrder'].astype(int) - race_results_with_names['grid'].astype(int)

In [4]:
# Filter to include only races/sprints that happened on the same weekend
common_race_ids = set(sprint_results_with_names['raceId']).intersection(set(race_results_with_names['raceId']))
sprint_filtered = sprint_results_with_names[sprint_results_with_names['raceId'].isin(common_race_ids)]
race_filtered = race_results_with_names[race_results_with_names['raceId'].isin(common_race_ids)]

# Reassign str columns to int for analysis
sprint_filtered['positionOrder'] = sprint_filtered['positionOrder'].astype(int)
race_filtered['positionOrder'] = race_filtered['positionOrder'].astype(int)

sprint_filtered['grid'] = sprint_filtered['grid'].astype(int)
race_filtered['grid'] = race_filtered['grid'].astype(int)

/var/folders/zz/xnx3g6t159sf50njbn759yp40000gn/T/ipykernel_53799/4252994918.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  race_filtered['positionOrder'] = race_filtered['positionOrder'].astype(int)
/var/folders/zz/xnx3g6t159sf50njbn759yp40000gn/T/ipykernel_53799/4252994918.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  race_filtered['grid'] = race_filtered['grid'].astype(int)

In [5]:
sprint_filtered

,resultId,raceId,driverId,constructorId,number,grid,position,positionText,positionOrder,points,laps,time,milliseconds,fastestLap,fastestLapTime,statusId,code,forename,surname,position_change
0,1,1061,830,9,33,2,1,1,1,3,17,25:38.426,1538426,14,1:30.013,1,VER,Max,Verstappen,-1
1,2,1061,1,131,44,1,2,2,2,2,17,+1.430,1539856,17,1:29.937,1,HAM,Lewis,Hamilton,1
2,3,1061,822,131,77,3,3,3,3,1,17,+7.502,1545928,17,1:29.958,1,BOT,Valtteri,Bottas,0
3,4,1061,844,6,16,4,4,4,4,0,17,+11.278,1549704,16,1:30.163,1,LEC,Charles,Leclerc,0
4,5,1061,846,1,4,6,5,5,5,0,17,+24.111,1562537,16,1:30.566,1,NOR,Lando,Norris,-1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
355,356,1143,859,215,30,10,16,16,16,0,19,+34.356,1657366,18,1:25.762,1,LAW,Liam,Lawson,6
356,357,1143,852,215,22,16,17,17,17,0,19,+35.102,1658112,17,1:25.838,1,TSU,Yuki,Tsunoda,1
357,358,1143,861,3,43,0,18,18,18,0,19,+35.639,1658649,18,1:25.599,1,COL,Franco,Colapinto,18
358,359,1143,855,15,24,18,19,19,19,0,19,+1:11.436,1694446,19,1:25.051,1,ZHO,Guanyu,Zhou,1
359,360,1143,815,9,11,0,20,20,20,0,19,+1:14.371,1697381,18,1:24.892,1,PER,Sergio,Pérez,20

In [6]:
race_filtered

,resultId,raceId,driverId,constructorId,number,grid,position,positionText,positionOrder,points,...,milliseconds,fastestLap,rank,fastestLapTime,fastestLapSpeed,statusId,code,forename,surname,position_change
25140,25146,1061,1,131,44,2,1,1,1,25.0,...,7103284,45,2,1:29.699,236.430,1,HAM,Lewis,Hamilton,-1
25141,25147,1061,844,6,16,4,2,2,2,18.0,...,7107155,45,5,1:30.569,234.159,1,LEC,Charles,Leclerc,-2
25142,25148,1061,822,131,77,3,3,3,3,15.0,...,7114409,45,4,1:30.524,234.275,1,BOT,Valtteri,Bottas,0
25143,25149,1061,846,1,4,5,4,4,4,12.0,...,7131857,44,9,1:31.420,231.979,1,NOR,Lando,Norris,-1
25144,25150,1061,817,1,3,6,5,5,5,10.0,...,7145908,51,8,1:31.284,232.325,1,RIC,Daniel,Ricciardo,-1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26734,26740,1143,807,210,27,18,\N,R,16,0.0,...,\N,33,15,1:25.767,227.458,20,HUL,Nico,Hülkenberg,-2
26735,26741,1143,815,9,11,9,\N,R,17,0.0,...,\N,31,12,1:25.288,228.735,20,PER,Sergio,Pérez,8
26736,26742,1143,840,117,18,15,\N,R,18,0.0,...,\N,6,18,1:30.935,214.531,130,STR,Lance,Stroll,3
26737,26743,1143,861,3,43,19,\N,R,19,0.0,...,\N,\N,0,\N,\N,4,COL,Franco,Colapinto,0
26738,26744,1143,839,214,31,20,\N,R,20,0.0,...,\N,\N,0,\N,\N,4,OCO,Esteban,Ocon,0

In [7]:
# Export datasets into cleaned version for analysis
sprint_filtered.to_csv('sprint_cleaned.csv')
race_filtered.to_csv('race_cleaned.csv')